
nav{
    font-family: 'Press Start 2P', cursive;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover; 
}


.navbar-nav{
    text-align: center;
}

.nav-link{
    padding: 2rem 1rem;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #05bd21 !important;
}

h1, .my-3, .my-4, p, li {
    font-family: 'Press Start 2P', cursive;
}
